img {
    border-radius: 50px;
    width: 500px; max-width: 100%;
}

#eka {
    background-color: rgb(218, 172, 117);
    border-radius: 10px;
}

#toka {
    background-color: rgb(234, 203, 164);
    border-radius: 10px;
}

#kolmas {
    background-color: blanchedalmond;
    border-radius: 10px;
}

body {
    background-color: rgb(181, 131, 55);
    margin: auto; max-width: 900px;
}

.fontti {
    font-family: Arial, Helvetica, sans-serif;
}

P {
    font-family: arial;
    font-size: large;

}

li {
    font-style: italic;
}

h1 {
   text-align: center; 
   color: rgb(255, 183, 0);
   font-size: 165px;
}

nav a {
    margin: 50px;
}

nav {
    text-align: center;

}

aside {
    background-color: beige;
    border-radius: 5px;
}